#container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

#header{
    height: 110px;
    background-color: #283848;
    color: #ffffff;
    font-size: 1.7em;
    padding-left: 1.1em;
    padding-bottom: 1.4em;

    border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;

    border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
}

#header #header-text a{
    background-color: #283848;
}

#header-text{
    width: 60%;
    border-style: none;
    float: left;
}

#content{
    margin-top: 1%;
    padding: 20px;
    background-color: #283848;
    min-height: 450px;
}

html, body{
    font-family: Helvetica, Arial, sans-serif;
    /*background-color: #e5e5e5;*/
    background-color: #ffffff;
    font-size: 100%;
}

h2{
    color: #8d8d8d;
    font-size: 36px;
    text-align: center;
    padding: 5px;
}

a{
    color: #ffffff;
    display: inline-block;
    text-decoration: none;
    text-align: center;

    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

a:visited{
    text-decoration: none;
}

a.login{
    background-color: #3498db;
}

a.login:hover{
    background-color: #48a2df;
}

a.register{
    background-color: #ff4700;
}

a.register:hover{
    background-color: #eb561c;
}

a.wf-start-link:hover{
    background-color: #eb561c;
}

#header a{
    text-decoration: none;
    background-color: #121920;
    display: inline-block;
    text-align: right;
    font-weight: bold;

    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#login-register-link{
    width: 400px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    line-height: 70px;
}

#login-register-link a{
    width: 350px;
    height: 70px;
    font-size: 3em;
    display: inline-block;
    text-decoration: none;
    text-align: center;
}

td{
    padding: 10px;
}

#login-register-container {
    background-color: #edeff1;
    width: 40%;
    border: 1px solid #d7ebff;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;

    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
}

#login-register-container table{
    margin-left: 60px;
}

#login-register-container table input.field{
    background-color: #edeff1;
    height: 30px;
    line-height: 30px;
    color: #333;
    font-size: 20px;
    padding: 5px;
    margin-right: auto;
    margin-left: auto;

    border: 1px solid #e74c3c;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
}

#login-register-container table td input.submit-btn{
    background-color: #2ecc71;
    color: #ffffff;
    width: 100%;
    height: 50px;
    line-height: 32px;
    font-family: Arial;
    font-size: 2em;
    text-decoration: none;
    display: inline-block;

    border-style: none;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}

#logout{
    padding-top: 40px;
    line-height: 2.4em;
    margin-left: 26%;
    display: inline-block;
}

#logout a{
    background-color: #3498db;
    font-size: 1.3em;
    font-weight: normal;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.wf-start-link{
    width: 300px;
    height: 50px;
    line-height: 50px;
    font-size: 32px;
    padding: 10px;
    margin-top: 20px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
}

#status-container{
    padding: 10px;
    background-color: #f2f2f2;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;

    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}

.ready{
    color: #FF0000;
}

.waiting{
    color: #FF6600;
}

.approve-link{
    width: 5em;
    background-color: #007400;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-size: 1.1em;
    padding: 0.3em;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.reject-link{
    width: 5em;
    background-color: #CC0000;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-size: 1.1em;
    padding: 0.3em;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.admin-upload-link{
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-size: 1.6em;
    background-color: #ff4700;
    margin-top: 1em;
}

.not-found{
    display: block;
    text-align: center;
    margin-top: 100px;
}

.error{
    color: #a00000;
    text-align: center;
    font-weight: bold;
    background-color: #f2f2f2;
    padding: 0.5em;
    font-family: Helvetica, Arial, sans-serif;

    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
}

