{% extends "layout.html" %}

{% block title %} Instructor Page {% endblock %}

{% block body %}

    <h2>Work in Progress</h2>

    <div id="status-container">
    <table>

    {% if content_data.values()[-1].get("ready_task", None) %}

        {% if content_data.values()[-1]["ready_task"].get_description().endswith("approval") and
            not content_data.values()[-1]["ready_task"].workflow.get_data(g.user.username) %}

            <tr><td><h3>Task</h3></td><td><h3>Student</h3></td><td><h3>Workflow</h3></td><td></td><td></td></tr>

        {% endif %}

        {% for item in content_data.itervalues() %}

            {% if item["ready_task"].get_description().endswith("approval") and
                not item["ready_task"].workflow.get_data(g.user.username) %}

                <tr>
                    <td><a href="{{ url_for('forms.download', filename=item["pdf"].name) }}" class="ready">
                        {{ item["ready_task"].get_description() }}</a></td>
                    <td>{{ item["student"] }}</td>
                    <td>{{ item["ready_task"].workflow.spec.name }}</td>
                    <td><a href="{{ url_for('users.approve', username=item["student"]) }}" class="approve-link">APPROVE</a></td>
                    <td><a href="{{ url_for('users.reject', username=item["student"]) }}" class="reject-link">REJECT</a></td>
                </tr>

            {% else %}
                <tr>There is no waiting task</tr>

            {% endif %}

        {% endfor %}

    {% else %}
        <tr>There is no active workflow</tr>

    {% endif %}

    </table>
    </div>

{% endblock %}
