<!doctype html>

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>{% block title %} {% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename =
        'style.css') }}" type="text/css" />
    </head>

    <div id="container">

        <div id="header">
            <div id="header-text">
                <a href="{{ url_for('index') }}"><h1>Workflow Automation</h1></a>
            </div>

            <div id="logout">
                {% if g.user.is_authenticated() %}
                    <a href="{{ url_for('users.logout') }}">Logout</a>
                {% endif %}
            </div>
        </div>

        <div id="content">
            {% block body %} {% endblock %}

            {% for message in get_flashed_messages() %}
                <p class="error">Error: </strong>{{ message }}</p>
            {% endfor %}
        </div>

    </div>

</html>
