{% extends "layout.html" %}

{% block title %} Student Page {% endblock %}

{% block body %}

    {% for item in config_data %}

        <a href="{{ url_for('users.start_workflow', spec_file=item['spec_file']) }}"
           class="wf-start-link">{{ item["name"] }}</a>

    {% endfor %}

    <h2>Work in Progress</h2>

    <div id="status-container">
    <table>

    {% if workflow %}

        <tr><td><h3>Task</h3></td><td><h3>Workflow</h3></td></tr>

        {% for task in workflow.get_tasks(state=ready) %}

            <tr>
                {% if task.task_spec.name.startswith("send") and task.get_spec_data("pdf_form") %}
                    <td><a href="{{ url_for('forms.show_pdf', filename=task.get_spec_data('pdf_form')) }}" >
                    {{ task.get_description() }}</a></td>
                {% elif task.task_spec.name.startswith("send") %}
                    <td><a href="{{ url_for('forms.upload') }}" >{{ task.get_description() }}</a></td> {# user için yazılanla değişmeli #}
                {% else %}
                    <td>{{ task.get_description() }}</td>
                {% endif %}

                <td>{{ workflow.spec.name }}</td>
            </tr>

        {% endfor %}

    {% else %}
        <tr>There is no ongoing task</tr>

    {% endif %}

    </table>
    </div>

    <h2>Completed Tasks</h2>

    <div id="status-container">
    <table>

    {% if workflow %}

        <tr><td><h3>Task</h3></td><td><h3>Workflow</h3></td></tr>

        {% for task in (workflow.get_tasks(state=completed))[::-1] %}

            {% if not task.task_spec.name == "Root" %}
                <tr>
                    <td>{{ task.get_description() }}</td>
                    <td>{{ workflow.spec.name }}</td>
                </tr>
            {% endif %}

        {% endfor %}

    {% else %}
        <tr>There is no completed task</tr>

    {% endif %}

    </table>
    </div>

{% endblock %}