{% extends "layout.html" %}

{% block title %} Student Page {% endblock %}

{% block body %}

    {% for item in content_data[0]["config_data"] %}

        <a href="{{ url_for('users.start_workflow', spec_file=item['spec_file']) }}"
           class="wf-start-link">{{ item["name"] }}</a>

    {% endfor %}

    <h2>Work in Progress</h2>

    <div id="status-container">
    <table>

    {% if content_data[0].get("ready_tasks", None) %}

        <tr><td><h3>Task</h3></td><td><h3>Workflow</h3></td></tr>

        {% for item in content_data.itervalues() %}

            {% for task in item["ready_tasks"] %}

                <tr>
                    {% if task.get_name().startswith("send") and task.get_spec_data("pdf_form") %}
                        <td><a href="{{ url_for('forms.show_pdf', filename=task.get_spec_data('pdf_form')) }}" >
                        {{ task.get_description() }}</a></td>
                    {% elif task.get_name().startswith("send") %}
                        <td><a href="{{ url_for('forms.upload') }}" >{{ task.get_description() }}</a></td>
                    {% else %}
                        <td>{{ task.get_description() }}</td>
                    {% endif %}

                    <td>{{ task.workflow.spec.name }}</td>
                </tr>

            {% endfor %}

        {% endfor %}

    {% else %}
        <tr>There is no ongoing task</tr>

    {% endif %}

    </table>
    </div>

    <h2>Completed Tasks</h2>

    <div id="status-container">
    <table>

    {% if content_data[0].get("completed_tasks", None) %}

        <tr><td><h3>Task</h3></td><td><h3>Workflow</h3></td></tr>

        {% for item in content_data.itervalues() %}

            {% for task in item["completed_tasks"] %}

                {% if not task.get_name() in ["Root", "End"] %}
                    <tr>
                        <td>{{ task.get_description() }}</td>
                        <td>{{ task.workflow.spec.name }}</td>
                    </tr>
                {% endif %}

            {% endfor %}

        {% endfor %}

    {% else %}
        <tr>There is no completed task</tr>

    {% endif %}

    </table>
    </div>

{% endblock %}
